################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/20f212ee-6d40-4544-9b11-d0d2e21e97ee.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/46d8a80a-e1ee-4b99-8f9e-c61160bb99aa.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/66b4ab62-7cc5-47af-81c6-78ecc38bcc78.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/6f1a1fe9-516a-472b-b92f-46f704e794b7.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/e40ca31f-87be-423d-9513-16fc353b2aee.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/bbe115ef-2c70-4c3d-8b7a-e9517e76b5de.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/e75efe3a-64fe-40cb-a3ba-c9ad7dc3a475.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/1cbb5e0c-437d-4670-8e13-c6a1db21451e.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/578484f3-9bf6-4c1b-b6e0-f9d81f13ba37.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/5d1d57e7-6308-4c0b-8ecb-86a92a0a0b06.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/6de5e67b-569b-46f8-bb5b-ee9f7cf6447b.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/a271c474-d396-484a-b52c-95949b8bb02c.vsidx
*.vsidx
