################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/20f212ee-6d40-4544-9b11-d0d2e21e97ee.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/46d8a80a-e1ee-4b99-8f9e-c61160bb99aa.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/66b4ab62-7cc5-47af-81c6-78ecc38bcc78.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/6f1a1fe9-516a-472b-b92f-46f704e794b7.vsidx
/SkydiveAtlasAPI/.vs/SkydiveAtlasAPI/FileContentIndex/e40ca31f-87be-423d-9513-16fc353b2aee.vsidx
